statemachines/expired_tasks.asl.json
{
    "Comment": "Workflow for handling expired tasks",
    "StartAt": "UpdateTaskStatus",
    "States": {
        "UpdateTaskStatus": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "Parameters": {
                "TableName": "${TasksTable}",
                "Key": {
                    "task_id": {
                        "S.$": "$.task_id"
                    }
                },
                "UpdateExpression": "SET #status = :status, #expired_at = :expired_at",
                "ExpressionAttributeNames": {
                    "#status": "status",
                    "#expired_at": "expired_at"
                },
                "ExpressionAttributeValues": {
                    ":status": {
                        "S": "expired"
                    },
                    ":expired_at": {
                        "S.$": "$$.State.EnteredTime"
                    }
                },
                "ReturnValues": "ALL_NEW"
            },
            "ResultPath": "$.dynamodbResult",
            "Next": "PrepareNotification"
        },
        "PrepareNotification": {
            "Type": "Pass",
            "Parameters": {
                "task_id.$": "$.dynamodbResult.Attributes.task_id.S",
                "name.$": "$.dynamodbResult.Attributes.name.S",
                "responsibility.$": "$.dynamodbResult.Attributes.responsibility.S",
                "status": "expired",
                "expired_at.$": "$.dynamodbResult.Attributes.expired_at.S",
                "messageData": {
                    "task_id.$": "$.dynamodbResult.Attributes.task_id.S",
                    "name.$": "$.dynamodbResult.Attributes.name.S",
                    "status": "expired",
                    "message": "Task has expired",
                    "expired_at.$": "$.dynamodbResult.Attributes.expired_at.S",
                    "responsibility.$": "$.dynamodbResult.Attributes.responsibility.S"
                }
            },
            "Next": "CreateEmailMessage"
        },
        "CreateEmailMessage": {
            "Type": "Pass",
            "Parameters": {
                "emailBody": {
                    "Fn::Join": [
                        "",
                        [
                            "Task Expired\n\nTask Name: ",
                            {
                                "$": "$.name"
                            },
                            "\nTask ID: ",
                            {
                                "$": "$.task_id"
                            },
                            "\nAssigned To: ",
                            {
                                "$": "$.responsibility"
                            },
                            "\nExpired At: ",
                            {
                                "$": "$.expired_at"
                            },
                            "\n\nThe task has been marked as expired due to passing its deadline."
                        ]
                    ]
                },
                "defaultMessage.$": "States.JsonToString($.messageData)",
                "responsibility.$": "$.responsibility"
            },
            "Next": "NotifyUsers"
        },
        "NotifyUsers": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
                "TopicArn": "${ClosedTasksNotificationTopic}",
                "Message": {
                    "default.$": "$.defaultMessage",
                    "email.$": "$.emailBody"
                },
                "MessageStructure": "json",
                "MessageAttributes": {
                    "responsibility": {
                        "DataType": "String",
                        "StringValue.$": "$.responsibility"
                    }
                }
            },
            "End": true
        }
    }
  }
  